.dashboard {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1135px;
  border-radius: 15px;
  background: #f9fafb;
  /* padding: 15px 30px; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.headerLeft {
  h2 {
    color: #424f5e;
    font-size: 26px;
    font-weight: 700;
  }
}
.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  button {
    cursor: pointer;
    border-radius: 10px;
    background: #32c076;
    color: #f9fafb;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    padding: 10px 25px;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #efeff6;
}

.modal {
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    color: #424f5e;
    margin-bottom: 6px;
  }

  input {
    border: 1px solid #c1c1cb;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    margin-bottom: 14px;
    color: #424f5e;
  }

  .modalButton {
    cursor: pointer;
    border-radius: 15px;
    background: #32c076;
    font-size: 20px;
    color: #f9fafb;
    padding: 14px;
    font-weight: 300;
  }
}

.modalClose {
  position: absolute;
  top: -34px;
  right: -34px;
  background-color: transparent;
  cursor: pointer;
  background-color: #ebebf0;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
